<div class="hourly-forecast">
    <wa-city-selector city="$ctrl.city"></wa-city-selector>
    <wa-unit-switch unit="$ctrl.unit"></wa-unit-switch>
    <span class="forecast-status">
        Last updated: {{ $ctrl.currentTime | date:'yyyy-mm-dd h:mm a' }}
        <button ng-click="$ctrl.updateWeatherForecast()">
          <fa name="refresh" alt="Refresh"></fa>
          Refresh
       </button>
    </span>
    <div class="list-item"
    ng-repeat="forecast in $ctrl.forecasts">
        <span class="time">{{ forecast.time | date:'h a' }}</span>
        <span class="weather">
        <img ng-src="http://openweathermap.org/img/w/{{ forecast.weather.icon }}.png" />
        {{ forecast.weather.main }}
        </span>
        <span class="temperature">{{ forecast.temp | number:0 }}&deg;{{ $ctrl.displayUnit() }}</span>
        <span>High: {{ forecast.temp_max }}&deg;{{ $ctrl.displayUnit() }}</span>
        <span>Low: {{ forecast.temp_min }}&deg;{{ $ctrl.displayUnit() }}</span>
    </div>
</div>
