.hourly-list {
    .list-item {
        padding: 6px;
        border: 1px solid #666;
        border-radius: 1px;
        box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.75);
    }
    .time,
    .weather,
    .temperature {
        vertical-align: middle;
    }
    .time {
        font-weight: bold;
    }
    .temperature {
        font-weight: bold;
        font-size: 16px;
    }
}
